img,
picture {
  max-width: 100%;
  max-height: 100%;
}

svg.icon {
  width: 16px;
  height: 16px;
  fill: $white;
}

.btn-primary {
  background-color: $orange;
  border-color: $orange;
  &:hover {
    background-color: darken($orange, 20%);
    border-color: darken($orange, 20%);
  }
}

header {
  background-color: $blue;
  border-bottom: 6px solid $orange;
  margin-bottom: 2em;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $gray;
    padding: 2em 1em;
  }
}
h1.logo {
  @include text-hide;
  background-image: url(sslc-mobile.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(100vw * 0.4);
  @media (min-width: 576px) {
    height: calc(508px * 0.4);
  }
  @media (min-width: 992px) {
    background-image: url(sslc-desktop.png);
    height: calc(928px * 0.23);
  }
  @media (min-width: 1200px) {
    background-image: url(sslc-desktop.png);
    height: 275px;
  }
}

.sponsors {
  background-color: $gray;
  margin-top: 2em;
  border-top: 6px solid $blue;
  border-bottom: 100px solid $blue;
  box-shadow: inset 0px -6px 0 0px $info;
  padding-bottom: 1em;
  color: $blue;
}
.sponsor-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsor-logo {
  flex: 0 1 60%;
  @media (min-width: 400px) {
    flex: 0 1 40%;
  }
  @media (min-width: 576px) {
    flex: 0 1 30%;
  }
  @media (min-width: 768px) {
    flex: 0 1 20%;
    &.ssc-logo {
      border-left: 2px solid $primary;
    }
  }
  @media (min-width: 992px) {
    flex: 0 1 15%;
  }
}

.shire-resident {
  border: $card-border-width solid $card-border-color;
  .header {
    border-bottom: $card-border-width solid $card-border-color;
  }
  .header h4 {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(md) {
    .header {
      border-right: $card-border-width solid $card-border-color;
      border-bottom: 0;
    }
    .card-text {
      padding: 1rem 0;
    }
  }
}
